@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap'); /* added Permanent Marker and Source Sans pro fonts */

/*------------------------------- Design Color variables */
:root {
  --red-color: #d21717;
  --black-color: #0c0c0c;
  --light-black-color: #121214;
  --gray-color: #969696;
  --white-color: #fff;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
}
/*------------------------------- Universal Selectors */
a,h1 ,h2 ,h3  {
    color: var(--white-color);
}

/*------------------------------- General Selectors */
nav {
    padding: 15px 70px !important;
}
/*------------------------------- Buttons */

/*------------------------------- Header */
header {
    background-color: #0c0c0c;
    display: flex;
}

.nav-active {
    color: var(--red-color);
}
.nav-item {
    padding-left: 15px;
}


/*------------------------------- Main Section */

/*------------------------------- About Section */

/*------------------------------- Footer */

/*------------------------------- Media Queries */
@media (max-width:1440px) {
    nav {
        padding: 15px 0px !important;
    }
}