@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap'); /* added Permanent Marker and Source Sans pro fonts */

/*------------------------------- Design Color variables */
:root {
  --red-color: #d21717;
  --black-color: #0c0c0c;
  --light-black-color: #121214;
  --gray-color: #969696;
  --white-color: #fff;
  font-size: 16px;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
}
/*------------------------------- Universal Selectors */
a,h1 ,h2 ,h3  {
    color: var(--white-color);
}
h1 {
    font-family: 'Permanent Marker', sans-serif;
    text-transform: uppercase;
}
h2, p {
    color: var(--gray-color);
}
p {
    font-size: 1rem;
}
/*------------------------------- General Selectors */
nav, .about-div {
    padding: 15px 70px !important;
}

/*------------------------------- Buttons */
.navbar-toggler {
    font-size: 1.5rem; 
}
.navbar-toggler:focus {
    box-shadow: none; /* for some reason it removes the button outline */
}
.btn-locations {
    background-color: var(--red-color);
    border-radius: 0;
    padding: 10px 20px;
}
.btn-locations:hover {
    background-color: #8d0404;
}
/*------------------------------- Icons*/
.fa-arrow-right {
    position: relative;
    top: 1px;
    padding-left: 5px;
}
/*------------------------------- Header */
header {
    display: flex;
}

.nav-active {
    color: var(--red-color);
    font-weight: 600;
}
.nav-item {
    padding-left: 15px;
}
nav .nav-item a:hover {
    color: var(--gray-color) !important;
    transition: 200ms;
}

/*------------------------------- Main Section */
.main-section {
    height: 730px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
      ), url('https://images.unsplash.com/photo-1558030006-450675393462?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}
.img-logo {
    margin: 5px 0;
}
/*------------------------------- About Section */
.about-section {
    background-color: var(--black-color);
}
.p-width {
    max-width: 600px;
}
/*------------------------------- Footer */

/*------------------------------- Media Queries */
@media (max-width:1440px) {
    nav {
        padding: 15px 0px !important;
    }
    .img-logo {
        width: 80%;
    }
}
@media (min-width:1440px) {
    p {
        font-size: 1.2rem;
    }
}